<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Fredoka+One&display=swap" rel="stylesheet"/>


body {background: ffffff;background-size: 20% 20%; font-family: Fredoka One ; color: black; background-position: bottom;}


Body{
}


https://www.dropbox.com/s/4z8gtkojsjxyzrq/liodenzhurcahn.css?dl=0





<h1 style="color: #ffffff ;font-family:Aboreto;"><b>The Age of Zhurcahn</b></h1>
<br /><br />
<p>Long ago

</p>

}